<!-- reasons why we use 'ejs' instead of html?
1. router or controller make html to set on body, and respond to client
2. ejs have special functions that can use 'loop' in html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    this is a root page
  </body>
</html>
